h2{
    color : orange;
    font-family: Trebuchet MS;
    text-align: center;
}
.box{
    padding: 50px;
    width: 100px;
    color: #fff;
    margin: 10px;
    background: orange;
}

#box{
    width: 400px;
    color: #fff;
    background: blue;
    padding: 50px;
}

body{
    background: url('tree1.png'), url('field1.jpg');
    background-repeat: no-repeat, repeat;
    color: white;
}